<% provide(:title, @title) %>
<div class="row">
  <aside class="span4">
    <%= render 'shared/user_gravatar' %>
    <%= render 'shared/user_avatars' %>
  </aside>
    <%= render 'shared/users_show_follow' %>
</div>